<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.conacry.caero.adapter.repository.mapper.AirportMapper">

    <insert id="insertAirport">
        INSERT INTO airport (id,
                             airport_code,
                             airport_name,
                             city_name,
                             latitude_coordinate,
                             longitude_coordinate,
                             timezone)
        VALUES (#{model.airportID},
                #{model.airportCode},
                #{model.airportName},
                #{model.city},
                #{model.latitude},
                #{model.longitude},
                #{model.timezone})
    </insert>

    <select id="selectByIdAirport" resultType="airport">
        SELECT id,
               airport_code,
               airport_name,
               city_name,
               latitude_coordinate,
               longitude_coordinate,
               timezone
        FROM airport
        WHERE id = #{id}
    </select>

</mapper>