<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.conacry.caero.adapter.repository.mapper.FlightMapper">

    <resultMap id="flightDbModel" type="org.conacry.caero.adapter.repository.model.FlightDbModel">
        <id column="id" property="flightID"/>
        <result column="number" property="number"/>
        <result column="scheduled_departure" property="scheduledDeparture"/>
        <result column="scheduled_arrival" property="scheduledArrival"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

        <association property="departureAirport" javaType="org.conacry.caero.adapter.repository.model.AirportDbModel">
            <id column="depAirportID" property="airportID"/>
            <result column="airport_code" property="airportCode"/>
            <result column="airport_name" property="airportName"/>
            <result column="city_name" property="city"/>
            <result column="latitude_coordinate" property="latitude"/>
            <result column="longitude_coordinate" property="longitude"/>
            <result column="timezone" property="timezone"/>
        </association>

        <association property="arrivalAirport" javaType="org.conacry.caero.adapter.repository.model.AirportDbModel">
            <id column="arrAirportID" property="airportID"/>
            <result column="airport_code" property="airportCode"/>
            <result column="airport_name" property="airportName"/>
            <result column="city_name" property="city"/>
            <result column="latitude_coordinate" property="latitude"/>
            <result column="longitude_coordinate" property="longitude"/>
            <result column="timezone" property="timezone"/>
        </association>

        <association property="aircraft" javaType="org.conacry.caero.adapter.repository.model.AircraftDbModel">
            <id column="aircraft_id" property="aircraftID"/>
            <result column="aircraft_model" property="model"/>
        </association>

    </resultMap>

    <insert id="insert">
        INSERT INTO flight (id,
                            number,
                            departure_airport_id,
                            arrival_airport_id,
                            aircraft_id,
                            scheduled_departure,
                            scheduled_arrival,
                            status,
                            created_at,
                            updated_at)
        VALUES (#{model.flightID},
                #{model.number},
                #{model.departureAirport.id},
                #{model.arrivalAirport.id}
                #{model.aircraft.id},
                #{model.scheduledDeparture},
                #{model.scheduledArrival},
                #{model.status},
                #{model.createdAt},
                #{model.updatedAt})
    </insert>

    <select id="selectByID" resultMap="flightDbModel">
        SELECT f.id                       AS id,
               f.number                   AS number,
               f.departure_airport_id     AS departureAirport,
               f.arrival_airport_id       AS arrivalAirport,
               f.aircraft_id              AS aircraft,
               f.scheduled_departure      AS scheduledDeparture,
               f.scheduled_arrival        AS scheduledArrival,
               f.actual_departure         AS actualDeparture,
               f.actual_arrival           AS actualArrival,
               f.status                   AS status,
               f.created_at               AS createdAt,
               f.updated_at               AS updatedAt,

               a_craft.id                 AS aircraftID,
               a_craft.model              AS model,

               dep_a.id                   AS depAirportID,
               dep_a.airport_code         AS airportcode,
               dep_a.airport_name         AS airportName,
               dep_a.city_name            AS city,
               dep_a.latitude_coordinate  AS latitude,
               dep_a.longitude_coordinate AS longitude,
               dep_a.timezone             AS timezone,

               arr_a.id                   AS arrAirportID,
               arr_a.airport_code         AS airportCode,
               arr_a.airport_name         AS airportName,
               arr_a.city_name            AS cityName,
               arr_a.latitude_coordinate  AS latitude,
               arr_a.longitude_coordinate AS longitude,
               arr_a.timezone             AS timezone
        FROM flight f
                 INNER JOIN aircraft a_craft
                            ON f.aircraft_id = a_craft.id

                 INNER JOIN airport dep_a
                            ON f.departure_airport_id = dep_a.id

                 INNER JOIN airport arr_a
                            ON f.arrival_airport_id = arr_a
        WHERE f.id = #{id}
    </select>

    <select id="selectAll" resultMap="flightDbModel">
        SELECT f.id                       AS id,
               f.number                   AS number,
               f.departure_airport_id     AS departureAirport,
               f.arrival_airport_id       AS arrivalAirport,
               f.aircraft_id              AS aircraft,
               f.scheduled_departure      AS scheduledDeparture,
               f.scheduled_arrival        AS scheduledArrival,
               f.actual_departure         AS actualDeparture,
               f.actual_arrival           AS actualArrival,
               f.status                   AS status,
               f.created_at               AS createdAt,
               f.updated_at               AS updatedAt,

               a_craft.id                 AS aircraftID,
               a_craft.model              AS model,

               dep_a.id                   AS airportID,
               dep_a.airport_code         AS airportcode,
               dep_a.airport_name         AS airportName,
               dep_a.city_name            AS city,
               dep_a.latitude_coordinate  AS latitude,
               dep_a.longitude_coordinate AS longitude,
               dep_a.timezone             AS timezone,

               arr_a.id                   AS airportID,
               arr_a.airport_code         AS airportCode,
               arr_a.airport_name         AS airportName,
               arr_a.city_name            AS cityName,
               arr_a.latitude_coordinate  AS latitude,
               arr_a.longitude_coordinate AS longitude,
               arr_a.timezone             AS timezone
        FROM flight f
                 INNER JOIN aircraft a_craft
                            ON f.aircraft_id = a_craft.id

                 INNER JOIN airport dep_a
                            ON f.departure_airport_id = dep_a.id

                 INNER JOIN airport arr_a
                            ON f.arrival_airport_id = arr_a
    </select>

    <delete id="deleteAll">
        DELETE FROM flight
    </delete>
</mapper>